body {
    background-color: #a8dadc;
    text-align: center;
}

h1 {
    width: 100%;
    height: 75px;
    display: inline;
    margin: auto;
    font-family: 'Audiowide', cursive;
    color: #1d3557;
    border: 5px solid #457b9d;
    border-radius: 15px;
    padding: 20px;
    line-height: 4;
    box-shadow: 5px 5px 10px #1d3557;
}

#instructions {
    position: relative;
    padding: 10px;
    margin: auto;
    width: 50%;
    max-width: 800px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: #1d3557;
}

/* game board table */

#board td {
    width: 50px;
    height: 50px;
    border: solid 1px #1d3557;
    position: relative;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
    /* TODO: make into circles */
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

/* css drop animation code sourced from w3schools.com */
.w3-animate-top {

    position: relative;
    animation: animatetop 0.6s
}

@keyframes animatetop {
    from {
        top: -300px;
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.piece.p1 {
    background-color: #e63946;
}

.piece.p2 {
    background-color: #457b9d;
}


/* column-top is table row of clickable areas for each column */

#column-top td {
    border: dashed 1px #1d3557;
}

#column-top td:hover {
    background-color: #bce4e6;
}

#game {
    width: fit-content;
    position: relative;
    margin: auto;
}

#player1-color {
    background-color: #e63946;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#player2-color {
    background-color: #457b9d;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.player-colors {
    background-color: #bce4e6;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}