body {
    background-color: #a8dadc;
    text-align: center;
}

h1 {
    width: 100%;
    height: 75px;
    display: inline;
    margin: auto;
    font-family: 'Audiowide', cursive;
    color: #1d3557;
    border: 5px solid #457b9d;
    border-radius: 15px;
    padding: 20px;
    line-height: 4;
    box-shadow: 5px 5px 10px #1d3557;
}

#instructions {
    position: relative;
    padding: 10px;
    margin: auto;
    width: 50%;
    max-width: 800px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: #1d3557
}

/* game board table */

#board td {
    width: 50px;
    height: 50px;
    border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
    /* TODO: make into circles */
    margin: 5px;
    width: 80%;
    height: 80%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
    border: dashed 1px lightgray;
}

#column-top td:hover {
    background-color: gold;
}